body {
  margin: 0;
  height: 100vh;
  background-image: url('images/cici.jpg');

  background-size: 100% 100%; /* acoperă tot ecranul ne-păstrând proporțiile */

  background-position: center;
  background-repeat: no-repeat;
  font-family: cursive;
  color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-coucou {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
}

.btn-mes-dessins {
  background: #222;
  color: rgb(255, 255, 255);
  border: 0px;
  padding: 0.45rem 0.7rem;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  font-family: cursive;
  position: fixed;
  top: 12px;
  right: 12px;
  z-index: 10001;
}
.custom-cursor {
  position: fixed;
  top: 600px;
  left: 300px;
  width: 400px;
  height: 700px;
  border-radius: 5%; /*face cursorul rotund la 50%*/
  background-color: rgba(0, 0, 0, 0.5); /* 0.5 semi-transparent */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: none; /* cursorul trece prin div */
  /*transform: translate(-50%, -50%);*/
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  backdrop-filter: blur(80px); /* efect feather */
}
