body {
  margin: 0;
  height: 100vh;
  background-image: url('images/dora.jpg'), url('images/dora_200.jpg');

  background-size: 60% 100%, 300% 300%;
  background-position: center top;
  background-repeat: no-repeat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.message-coucou {
  display: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: smaller;
}

.btn-mes-dessins {
  background: #222;
  color: rgb(255, 255, 255);
  border: 0px;
  padding: 0.45rem 0.7rem;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  box-shadow: 1px 2px 5px #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: fixed;
  bottom: 20px; /* la 20px de jos */
  right: 20px; /* la 20px de marginea dreaptă */
  z-index: 10001;
}
.custom-cursor {
  position: fixed;
  width: 400px;
  height: 650px;
  border-radius: 5%; /*face cursorul rotund la 50%*/
  background-color: rgba(0, 0, 0, 0.8);
  /* 0.5 semi-transparent */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  pointer-events: none; /* cursorul trece prin div */
  /*transform: translate(-50%, -50%);*/
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
  backdrop-filter: blur(80px); /* efect feather */
  transition: transform 0.08s linear; /* smooth movement */
}
.monde {
  color: rgb(255, 230, 0);
}

@media only screen and (max-width: 600px) {
  .message-coucou {
    display: inline-block;
  }
  .custom-cursor {
    display: none;
  }
  body {
    background-size: 100% 100%; /* acoperă tot ecranul */
    background-repeat: repeat;
  }
}
